
body{
	background: #280f2b;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;

}
header{
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	height: 213px;
	width: 320px;
	vertical-align: middle;
	background-image: url(http://s15.postimg.org/5ajli76aj/16611692829_7304c52214_k.jpg);
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}