
body{
	background: #e39e54;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;

}
header{
	font-family: 'Ubuntu', sans-serif;
	color: #4d7358;
	text-align: center;
	font-size: 24px;
	height: 200px;
	width: 1054px;
	vertical-align: middle;
	background-image: url(http://bit.ly/1Sitlkp);
	background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #4d7358;
}
li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}